
    .add-edit-btn {
        justify-self: end;
    }


@media (max-width: 500px) {

    .contact-index {
        // z-index: ;
        align-items: center;

    }

    .add-edit-btn {
        margin-inline: auto;
        margin-block-start: 1em;
    }
}