.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr1bg;
    padding-inline-start: 12px;
    position: relative;

    .transfer-container {
        width: 500px;
        margin-block-start: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            font-size: 30px;
        }

        input {
            margin-block-end: 1em;
        }
    }

    .back-btn {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    img {
        max-width: 300px;
        display: block;
        margin: auto;
    }
}