.contact-edit {
    min-height: 60vh;
    margin-block-start: 1em;
    padding: 12px;

    form {
        border: 2px solid $clr1;
        padding: 15px;

        >* {
            width: 300px;
            margin-block-end: 1em;
        
        }
        > input {
            margin-block-end: 3em;
        }
    }
}
