.app-header {
    background-color: rgb(24, 26, 32);
    color: $clr2bg-light;
    height: em(80px);
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        width: 200px;
        height: 80px;
        cursor: pointer;
    }

    .main-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2em;
        color: $clrTxt;
       font-family: cursive;
         
    }

    form {
        margin-block-start: 2.5em;
        display: flex;
        flex-direction: column;
    }
}
