.contact-filter {
    background-color: $clr1bg;
    text-align: center;

}

.contact-filter .label-selector {
    display: flex;
    flex-wrap: wrap;
}

.contact-filter form {
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.contact-sort {
    margin-block-start: 1em;
    background-color: $clr1bg;
    padding-inline-start: 12px;
    text-align: center;

    .contact-sort-from {
        padding: 1em;
        justify-content: center;

        select {
            background-color: $clr1;
            width: 7em;
            border-radius: 2em;
            margin-inline-end: 7px;
        }

    }
}
