.transaction-list {
    width: em(500px);
    background-color: rgba(43, 43, 43, 0.845);
    border-radius: 16px;
    padding: 20px;
    text-align: center;
    
    .transaction-preview {
        margin-inline: auto;
        display: flex;
        justify-content: space-between;
        border: 1px solid $clr1;
        gap: 5px;
        width: 80%;
        margin-block-start: 2em;
        padding: 12px;

    }
}