
input:focus {
    background-color: $clr1bg;
    transition: background-color 1s;
    color: $clrTxt
}


.btn {
    @include btn;
    
    &-dark {
        @include btn($type: dark);
    }
    
    &-light {
        @include btn($type: light);
    }
}

.input {
    @include input;
}

.check-box {
    @include checkBox($clr1 , $clr3); 
}
